*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f6f8f9;
}
/*----------
    HEADER
------------*/
header{
    background-color: #ffffff;
}
header img {
    vertical-align: middle;
    width: 50px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 5px;

}

header div{
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    font-weight: bold;
}

/*----------
    /HEADER
------------*/


/* -------
 CONTAINER
------- */
.container-input{
    max-width: 1000px;
    margin: auto;
    margin-top: 40px;
    background-color: #ffffff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-top: 15px;
    padding-left: 40px;
    border-bottom: #f6f8f9 solid 5px;
}
.container-task{
    max-width: 1000px;
    margin: auto;
    background-color: #ffffff;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.task-list{
    margin-bottom: 30px;
}

.section-text{
    margin: 10px;
    vertical-align: middle;
}

/* ---------
INPUT SECTION
-------- */
.input-section{
    padding-bottom: 10px;
}

.button{
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #ffffff;
    color: #cdd3d7;
    border: solid #cdd3d7;
}

.unlocked{
    color: #ffffff;
    background-color: #14aaf5;
    border: solid #14aaf5;
}

/* ---------
I/NPUT SECTION
-------- */

/* -------
 /CONTAINER
------- */

/* -------
    UTILITY
-------- */
.row{
    margin-bottom: 20px;
}


.circle{
    border-radius: 100%;
    border:  solid 2px;
    background-color: aquamarine;
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
    font-size: 10px;
}
.fail{
    color: red;
    background-color: #ffffff;
}

.tag{
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 10px;
    vertical-align: middle;
    color: #ffffff;
    background-color: red;
}

.tag-b{
    background-color: #09a9ed;
}

.tag-v{
    background-color: #ab5de6;
}

.tag-g{
    background-color: #2cc6ab;
}



.tag-o{
    background-color: #ff9b00;
}