*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f6f8f9;
}
/*---------- 
    HEADER
------------*/
header{
    background-color: #ffffff;
}
header img {
    vertical-align: middle;
    width: 50px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 5px;
    
}

header div{
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    font-weight: bold;
}

/*---------- 
    /HEADER
------------*/